## Google Sheet Python

In [5]:
import re
import os
import pandas as pd
from dotenv import load_dotenv

In [2]:
load_dotenv()

True

In [3]:
def convert_google_sheet_url(url):
    # Regular expression to match and capture the necessary part of the URL
    pattern = r'https://docs\.google\.com/spreadsheets/d/([a-zA-Z0-9-_]+)(/edit#gid=(\d+)|/edit.*)?'

    # Replace function to construct the new URL for CSV export
    # If gid is present in the URL, it includes it in the export URL, otherwise, it's omitted
    replacement = lambda m: f'https://docs.google.com/spreadsheets/d/{m.group(1)}/export?' + (f'gid={m.group(3)}&' if m.group(3) else '') + 'format=csv'

    # Replace using regex
    new_url = re.sub(pattern, replacement, url)

    return new_url

In [7]:
url = os.getenv("GOOGLE_SHEET_URL")

new_url = convert_google_sheet_url(url)

# print(new_url)

In [8]:
df = pd.read_csv(new_url)

In [9]:
df

,Horodateur,temperature,pressure,humidity,dewPoint,altitude,gas,moisture,counter
0,1/17/2024 16:59:34,25.34,323.99,47.81,13.46,285.97,333.66,407,2
1,1/17/2024 17:00:16,25.31,324.02,48.04,13.52,285.71,330.28,407,3
2,1/17/2024 17:00:59,25.30,324.06,48.20,13.56,285.45,331.62,409,4
3,1/17/2024 17:01:41,25.30,324.08,48.26,13.57,285.20,335.71,409,5
4,1/17/2024 17:02:24,25.29,324.10,48.30,13.57,285.20,335.71,407,6
...,...,...,...,...,...,...,...,...,...
76,1/17/2024 20:19:50,20.76,328.71,49.83,9.91,245.65,465.54,411,9
77,1/17/2024 20:22:48,22.21,328.80,49.12,11.02,244.88,433.92,411,13
78,1/17/2024 20:27:02,22.40,328.82,52.87,12.30,244.80,420.19,409,19
79,1/17/2024 20:28:27,22.29,328.82,51.64,11.84,244.88,427.77,409,21
80,1/17/2024 20:53:10,23.07,329.04,40.64,8.96,242.92,489.20,409,56

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Horodateur   81 non-null     object
 1   temperature  81 non-null     float64
 2   pressure     81 non-null     float64
 3   humidity     81 non-null     float64
 4   dewPoint     81 non-null     float64
 5   altitude     81 non-null     float64
 6   gas          81 non-null     float64
 7   moisture     81 non-null     int64
 8   counter      81 non-null     int64
dtypes: float64(6), int64(2), object(1)
memory usage: 5.8+ KB

In [13]:
df['date'] = pd.to_datetime(df['Horodateur'], format='%m/%d/%Y %H:%M:%S')

In [14]:
df

,Horodateur,temperature,pressure,humidity,dewPoint,altitude,gas,moisture,counter,date
0,1/17/2024 16:59:34,25.34,323.99,47.81,13.46,285.97,333.66,407,2,2024-01-17 16:59:34
1,1/17/2024 17:00:16,25.31,324.02,48.04,13.52,285.71,330.28,407,3,2024-01-17 17:00:16
2,1/17/2024 17:00:59,25.30,324.06,48.20,13.56,285.45,331.62,409,4,2024-01-17 17:00:59
3,1/17/2024 17:01:41,25.30,324.08,48.26,13.57,285.20,335.71,409,5,2024-01-17 17:01:41
4,1/17/2024 17:02:24,25.29,324.10,48.30,13.57,285.20,335.71,407,6,2024-01-17 17:02:24
...,...,...,...,...,...,...,...,...,...,...
76,1/17/2024 20:19:50,20.76,328.71,49.83,9.91,245.65,465.54,411,9,2024-01-17 20:19:50
77,1/17/2024 20:22:48,22.21,328.80,49.12,11.02,244.88,433.92,411,13,2024-01-17 20:22:48
78,1/17/2024 20:27:02,22.40,328.82,52.87,12.30,244.80,420.19,409,19,2024-01-17 20:27:02
79,1/17/2024 20:28:27,22.29,328.82,51.64,11.84,244.88,427.77,409,21,2024-01-17 20:28:27
80,1/17/2024 20:53:10,23.07,329.04,40.64,8.96,242.92,489.20,409,56,2024-01-17 20:53:10

In [24]:
df.tail(1).moisture.values[0]

409